@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    font-size: 16px;
    background-color: #000;
}

.icon.ions {
    mask-image: url("ions.svg");
    -webkit-mask-image: url("ions.svg");
}

.icon.auto-programs {
    mask-image: url("auto-programs.svg");
    -webkit-mask-image: url("auto-programs.svg");
}

.icon.fen {
    mask-image: url("fen.svg");
    -webkit-mask-image: url("fen.svg");
}

.icon.super-light {
    mask-image: url("super-light.svg");
    -webkit-mask-image: url("super-light.svg");
}

.icon.super-compact {
    mask-image: url("super-compact.svg");
    -webkit-mask-image: url("super-compact.svg");
}

.icon.motor {
    mask-image: url("motor.svg");
    -webkit-mask-image: url("motor.svg");
}

