html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #7F7875;
}

.G-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #A29C9A;
  border-radius: 70px;
  padding: 52px;
}

.main {
  display: grid;
  gap: 640px;
}


:root {
  --main-font: 'EuclidCircularA';
  --co-main-font: 'Montserrat';
  --transitionTime: .3s;

  --dark-gray: #4B4B4B;
  --white: #fff;
}

@import url("/src/assets/fonts/EuclidCircular/EuclidCircularA.scss");
@import url("/src/assets/fonts/Montserrat/Montserrat.scss");

