html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Work Sans", -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #7F7875;
}

.G-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}


:root {
  --main-font: 'EuclidCircularA';
  --co-main-font: 'Montserrat';
  --transitionTime: .3s;
}

@import url("assets/fonts/EuclidCircular/EuclidCircularA.scss");
@import url("assets/fonts/Montserrat/Montserrat.scss");

